
{% extends 'master.html'%}
{%load widget_tweaks%}



{%block title%}
{{board.name}}-{{block.super}}
{%endblock%}


{%block breadcrumb%}
<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'home'%}">Boards</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'board_topics' boards.pk %}">{{boards.name}}</a></li>
<li class="breadcrumb-item active" aria-current="page">New Topic</li>{%endblock%}

{%block content%}
<form method="post">
  {% csrf_token %}


<!--  using widget_tweaks-->

  {% include 'includes/form.html' %}


 <!--  with API-->
<!--  {{ form.as_p }}-->

<!--  without API-->
<!--  <div class="form-group">-->
<!--    <label for="topic_id">Subject</label>-->
<!--    <input type="text" class="form-control" id="topic_id" aria-describedby="emailHelp" placeholder="subject" name="subject">-->
<!--  </div>-->
<!--  <div class="form-group">-->
<!--    <label for="topic_Message">Text</label>-->
<!--    <textarea class="form-control" id="topic_Message" name="message" rows="6"></textarea>-->
<!--  </div>-->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{%endblock%}