{% extends 'master.html'%}
{%load widget_tweaks%}
{%load static%}

{%block stylesheet%}
<link rel="stylesheet" href="{% static 'css/accounts.css'%}">
{% endblock %}

{%block title%}
Reset Password Done!
{%endblock%}

{%block body%}
<div class="container">
 <h1 class="text-center logo my-4">
  <a href="{% url 'home' %}">Boards</a>
 </h1>
 <div class="row justify-content-center">
  <div class="col-lg-5 col-md-8 col-sm-12">
   <div class="card">
    <div class="card-body ">
     <h3 class="card-title">Reset Password has been done Successfully! </h3>
     <p>Please go to your inbox and click the sent link! If you couldnt find the email, please check the spam folder.</p>

     <div class="col text-center">
      <a href="{% url 'login' %}" class="btn btn-primary ">Return to login</a>
     </div>
    </div>
    <div class="card-footer text-muted text-center">
     You don't have an account? <a href="#">Sign Up</a>
    </div>
   </div>

  </div>

 </div>

</div>
{%endblock%}
