{% extends 'master.html'%}
{%load widget_tweaks%}
{%load static%}

{%block stylesheet%}
<link rel="stylesheet" href="{% static 'css/accounts.css'%}">
{% endblock %}


{%block title%}
    {% if validlink%}
        Confirm Reset Password for user {{user.username}}
    {% else %}
        Reset Password
    {% endif %}
{%endblock%}

{%block body%}
<div class="container">
 <h1 class="text-center logo my-4">
  <a href="{% url 'home' %}">Boards</a>
 </h1>
 <div class="row justify-content-center">
  <div class="col-lg-5 col-md-8 col-sm-12">
   <div class="card">
    <div class="card-body">
        {% if validlink%}
             <h3 class="card-title">Change Password for user @{{form.user.username}}</h3>
             <p>Enter your email address, so the reset link will be send to your email!</p>
             <form method="post" novalidate>
              {% csrf_token%}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary">Change Password</button>
             </form>
        {% else %}
            <h3 class="card-title">Reset Password </h3>
            <p> It seems you have clicked the invalid link. please try again.</p>

        <div class="col text-center">
            <a href="{% url 'password_reset' %}" class="btn btn-primary ">Reset Password</a>
        </div>
        {% endif%}
    </div>
    <div class="card-footer text-muted text-center">
     You don't have an account? <a href="#">Sign Up</a>
    </div>
   </div>

    </div>

  </div>

 </div>
 {%endblock%}
