body{
 background-image:url(../images/email-pattern.png);
}

.logo{
    font-family: 'Peralta', cursive;
}

.logo a{
    rgba:(0,0,0,0.9);
}

.logo a:hover ,
 .logo a:active {
   text-decoration:none;
}